.app {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 5%;
}

.app_data{
    margin: auto;
    text-align: center;
    width: 80%;
}

.img-responsive{
    margin: auto;
}

label[for=gitHubUsername] {
   color: #999;
}

.query {
    margin: auto;
    width:200px;
    font-weight:bold;
    font-size:1.4em;
    margin-bottom: 2%;
}

.work_by a {
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: #ddd;
    z-index: 1000;
}

.twitter-share-button {
    margin-top: 2%;
    cursor: pointer;
}